*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    border: none;
    height: 10vh;
    width: 100%;
    background-color: teal;
    display: flex;
    
}
.navbar .link{
    height: 10vh;
    width: 60%;
}
.navbar .logo{
    background-color: none;
    height: 10vh;
    width: 40%;
    padding-left: 15px;
    
}
.navbar  ul {
    background-color: none;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;

}

.navbar a{
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 10px;
}
.navbar .logo img{
    height: 8vh;
}
.main button{
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    margin: 10px auto;
    height: 5vh;
    width: 15%;
    background-color: teal;
    color: white;
}